<h1>Welcome, <%= @user.username.titleize%>!</h1>
<p>Here you can see a list of available exercises and create or track your own circuits based on your desired goals.</p>
<p>Strength circuits are two, or more, strength training exercises where the targeted number repetitions are challenging to complete (typically between 65-75% of one rep max, or 10-15 reps).</p> 
<p>Start your workouts with a short warm up (5-7 min) and conclude with stretching.</p>

<% @user.circuits.each.with_index(1) do |circuit, index| %>
  <p><%= index%>.
   <a href="/circuits/<%=circuit.slug%>">
   <%= circuit.name.titleize %></a> - <%=circuit.difficulty.titleize%> - <%=circuit.duration%> minutes</p>

<%end%>

<form>
<input type="button" value="Log Out" onclick="window.location.href = '/logout'"/>
<input type="button" value="Create a Circuit" onclick="window.location.href = '/circuits/new'"/>
<input type="button" value="Exercise List" onclick="window.location.href = '/exercises'"/>
</form>
