<h1>Create Your Circuit</h1>
<p>Strength circuits are two, or more, strength training exercises where the targeted number repetitions are challenging to complete (typically between 65-75% of one rep max, or 10-15 reps). Start your workouts with a short warm up and conclude with stretching.</p>
<form action="/circuits" method="POST">

  <label>Name: </label>
  <input type="text" name="circuit[name]" placeholder="Circuit Name">
  <br></br>

  <label>Duration: </label>
  <input type="number" name="circuit[duration]" style="width: 7em" placeholder="Minutes" max="100" min="1">
  <br></br>

  <label>Difficulty: </label>
  <select name="circuit[difficulty]" id="difficulty">
    <option value="beginner">Beginner</option>
    <option value="intermediate" selected>Intermediate</option>
    <option value="advanced">Advanced</option>
  </select>
  <br></br>

  <label>Exercises (3 exercises per circuit is best practice): </label>
  <h5>UPPER BODY</h5>
  <% Exercise.all.each do |exercise| %>
    <% if exercise.target == "upper body"%>
    <input type="checkbox" name="exercises[]" value="<%=exercise.id%>" id="<%=exercise.name%>">
    <%= exercise.name.titleize %></input>
    <%end%>
  <%end%>

  <h5>CORE</h5>
  <% Exercise.all.each do |exercise| %>
    <% if exercise.target == "core"%>
    <input type="checkbox" name="exercises[]" value="<%=exercise.id%>" id="<%=exercise.name%>">
    <%= exercise.name.titleize %></input>
      <%end%>
  <%end%>

  <h5>LOWER BODY</h5>
  <% Exercise.all.each do |exercise| %>
    <% if exercise.target == "lower body"%>
    <input type="checkbox" name="exercises[]" value="<%=exercise.id%>" id="<%=exercise.name%>">
    <%= exercise.name.titleize %></input>
      <%end%>
  <%end%>

  <h5>FULL BODY</h5>
  <% Exercise.all.each do |exercise| %>
    <% if exercise.target == "full body"%>
    <input type="checkbox" name="exercises[]" value="<%=exercise.id%>" id="<%=exercise.name%>">
    <%= exercise.name.titleize %></input>
      <%end%>
  <%end%>

  <br></br>
	<input type="submit" value="Create" id ="submit">
</form>
